.ant-form-item-label > label {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: var(--information-title-color);
}

.ant-form-item-has-error .ant-select:not(.ant-select-borderless) .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
}

.ant-form-item-has-error .ant-form-item-explain, .ant-form-item-has-error .ant-form-item-split {
  color: var(--color-error) !important;
}

.ant-form-item {
  color: var(--text-color-primary);
}

.ant-switch-checked {
  background-color: var(--color-primary);
}

.ant-input-number {
  width: 100%;
}

.ant-picker {
  min-width: 250px;
  height: 48px;
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  font-size: 24px;
  line-height: 29px;
  color: var(--text-color-primary);

  &:hover {
    border: 1px solid var(--input-border-color);
    box-shadow: 0 0 2px 2px var(--input-shadow);
  }

  &.ant-picker-focused {
    box-shadow: 0 0 2px 2px var(--input-shadow);
  }
}